

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    /* webkit needs an fixed value */
    background-color: var(--page-background);
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #c1c1c1;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
  }