@import '../../styles/pallete.css';

.button-style {
    background-color: #ffffff;
    border: none;
    font-size: 11px;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease, color 0.3s ease;
    text-align: center;
    color: var(--primary-color);;
}

.button-style:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--white);
}

.button-style.default{
    border: 1px solid var(--primary-color);
}

.button-style.md{

}

.button-style.lg{
    font-size: 15px;
}



.button-style.accent {
    background-color: var(--primary-color);
    color: white;
}

.button-style.accent:hover {
    background-color: var(--primary-color-light);  
    color: white;
}

.button-style:disabled {
    background-color: rgb(182, 182, 182) !important;
}

.button-style:disabled:hover {
    cursor: default !important;
}