.canvas-container {
  position: relative;
  width: 70%;
  max-width: 1280px;
  margin: 0 auto;
  aspect-ratio: 16 / 9;
}

.canvas-container:hover{
  cursor: pointer;
}


  .video-canvas{
    top: 0;
  }