@import './../../styles/pallete.css';

.content-panel {
    border-radius: 10px;
    background-color: #ffffff;
    padding: 30px;
    width: 50vw;
    min-width: 640px;
    /* height: calc(100vh - 100px); */
    display: flex;
    flex-direction: column;
  }